spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/booktrack
    username: booktrack
    password: booktrack123

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    baseline-on-migrate: true

jwt:
  secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration-ms: 86400000

logging:
  level:
    root: INFO
    booktrack: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: INFO
    org.flywaydb: INFO

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus,metrics"
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      access: unrestricted
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  prometheus:
    metrics:
      export:
        enabled: true

info:
  app:
    name: BookTrack
    description: Book Lending Management System
    version: 1.0.0
    java:
      version: 21