spring:
  application:
    name: booktrack-core

  datasource:
    url: jdbc:postgresql://localhost:5432/booktrack
    username: booktrack
    password: booktrack123

  jwt:
    secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    expiration-ms: 86400000  # 24 hours

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

  security:
    user:
      name: admin
      password: admin
      roles: USER,ADMIN

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

logging:
  level:
    org.flywaydb: DEBUG
    org.hibernate.SQL: DEBUG
    org.springdoc: DEBUG
    org.springframework.web: DEBUG
    org.springframework.boot.autoconfigure.web.servlet.WebMvcAutoConfiguration: DEBUG